NEXT_PUBLIC_APP_UR=https://localhost:3000

DATABASE_URL=postgresql://user:1234@localhost:5432/payload

PAYLOAD_SECRET=secret_key

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your-smtp-user
SMTP_PASS=your-smtp-password
CONTACT_FROM_EMAIL=no-reply@example.com
CONTACT_TO_EMAIL=kontakt@example.com
