@import 'tailwindcss';

@theme inline {
  --color-primary: var(--bg-primary);
  --color-secondary: var(--bg-secondary);
  --color-info: var(--bg-info);
  --color-success: var(--bg-success);
  --color-warning: var(--bg-warning);
  --color-error: var(--bg-error);
  --color-brand: var(--bg-brand);
}

:root {
  /* BACKGROUNDS */
  --bg-primary: oklch(0.0962 0.0562 285.05);
  --bg-secondary: oklch(0.2175 0.035 290.84);
  --bg-info: oklch(0.88 0.17 150);
  --bg-success: oklch(0.62 0.19 130);
  --bg-warning: oklch(0.78 0.18 80);
  --bg-error: oklch(0.55 0.22 15);
  --bg-brand: oklch(0.88 0.18 150);

  /* TEXT */
  --text-primary: oklch(0.0962 0.0562 285.05);
  --text-secondary: oklch(0.2175 0.035 290.84);
  --text-info: oklch(0.88 0.17 150);
  --text-success: oklch(0.62 0.19 130);
  --text-warning: oklch(0.78 0.18 80);
  --text-error: oklch(0.55 0.22 15);
  --text-brand: oklch(0.88 0.18 150);

  /* FILL */
  --fill-primary: oklch(0.0962 0.0562 285.05);
  --fill-secondary: oklch(0.2175 0.035 290.84);
  --fill-info: oklch(0.88 0.17 150);
  --fill-success: oklch(0.62 0.19 130);
  --fill-warning: oklch(0.78 0.18 80);
  --fill-error: oklch(0.55 0.22 15);

  /* BORDER */
  --border-primary: oklch(0.0962 0.0562 285.05);
  --border-secondary: oklch(0.2175 0.035 290.84);
  --border-info: oklch(0.88 0.17 150);
  --border-success: oklch(0.62 0.19 130);
  --border-warning: oklch(0.78 0.18 80);
  --border-error: oklch(0.55 0.22 15);
  --border-brand: oklch(0.88 0.18 150);
}

@layer base {
  body {
    @apply bg-primary text-white;
  }
}

@theme {
  --animate-cell-ripple: cell-ripple var(--cell-ripple-duration, 200ms)
  ease-out none 1 var(--cell-ripple-delay, 0ms);
}

@keyframes cell-ripple {
  0% { opacity: 0.4; }
  50% { opacity: 0.8; }
  100% { opacity: 0.4; }
}
