@import 'tailwindcss';
@config "../../tailwind.config.ts";

:root {
  --bg-primary: 249 100% 4%;
  --bg-secondary: 0 0% 100%;
  --bg-info: 151 100% 72%;
  --bg-success: 111 81% 41%;
  --bg-warning: 44 100% 52%;
  --bg-error: 352 96% 44%;
  --bg-black: 0 0% 0%;
  --bg-white: 0 0% 100%;

  --text-primary: 249 100% 4%;
  --text-secondary: 0 0% 100%;
  --text-info: 151 100% 72%;
  --text-success: 111 81% 41%;
  --text-warning: 44 100% 52%;
  --text-error: 352 96% 44%;
  --text-black: 0 0% 0%;
  --text-white: 0 0% 100%;

  --fill-primary: 249 100% 4%;
  --fill-secondary: 0 0% 100%;
  --fill-info: 151 100% 72%;
  --fill-success: 111 81% 41%;
  --fill-warning: 44 100% 52%;
  --fill-error: 352 96% 44%;
  --fill-black: 0 0% 0%;
  --fill-white: 0 0% 100%;

  --border-primary: 249 100% 4%;
  --border-secondary: 0 0% 100%;
  --border-ibordernfo: 151 100% 72%;
  --border-success: 111 81% 41%;
  --border-warning: 44 100% 52%;
  --border-error: 352 96% 44%;
  --border-black: 0 0% 0%;
  --border-white: 0 0% 100%;
}

body {
  @apply bg-secondary text-secondary;
}
